<h2 class="sub-header">Your Registered Exams</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Location</th>
      <th>Available Seats</th>
      <th>Reserved Seats</th>
      <th>Passing Grade</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for exam in upcomingExams %}
      {% if exam.id in registeredExams %}
      <tr>
        <td>{{ exam.id }}</td>
        <td>{{ exam.location }}</td>
        <td>{{ exam.limitedSeats }}</td>
        <td>{{ exam.reservedSeats }}</td>
        <td>{{ exam.passingGrade }}</td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>