{% extends "base.twig.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block content %}
  <h2 class="sub-header">Create Exam</h2>

  <div class="form-group">
    <label for="quarter">Quarter</label>
    <select class="form-control" id="quarter" name="quarter">
      <option>Winter</option>
      <option>Spring</option>
      <option>Summer</option>
      <option>Fall</option>
    </select>

    <br />

    <label for="startOfExam">Start of Exam</label>
    <input type="text" id="startOfExam" name="startOfExam"/>

    <br />

    <label for="duration">Duration</label>
    <input type="number" id="duration" name="duration" />

    <br />

    <label for="passingGrade">Passing Grade</label>
    <input type="number" id="passingGrade" name="passingGrade" />

    <br />

    <label for="location">Location</label>
    <select class="form-control" id="location" name="location">
      <option>CEB 220</option>
      <option>CEB 228</option>
      <option>CEB 256</option>
    </select>

    <br />

  </div>



  <script type="text/javascript">
    setDateTimePicker('startOfExam');
  </script>
{% endblock %}