<h1 class="page-header">Welcome home, <a href="javascript:name('{{ params.lastName }}');">{{ params.firstName }} {{ params.lastName }}</a></h1>

{#<div class="col-lg-4 col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-calendar-check-o fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">3</div>
          <div>Upcoming Exams</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">View Upcoming Exams</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>#}
<div class="col-lg-4 col-md-6">
  <div class="panel panel-green">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-tasks fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">0</div>
          <div>Graded Exams</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">View Grades</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="panel panel-yellow">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-3">
          <i class="fa fa-folder fa-5x"></i>
        </div>
        <div class="col-xs-9 text-right">
          <div class="huge">3</div>
          <div>Practice Exams</div>
        </div>
      </div>
    </div>
    <a href="#">
      <div class="panel-footer">
        <span class="pull-left">View Resources</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </div>
</div>

<div class="clearfix"></div>

{{ include('exams/upcoming-exams.twig.html') }}
{{ include('exams/registered-exams.twig.html') }}