{% extends "layout/base.twig.html" %}

{% block title %}Components Tester{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#locations-component">Locations</a>
        </h4>
      </div>
      <div id="locations-component" class="panel-collapse collapse">
        {{ include('components/locations.twig.html') }}
      </div>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#create-account-component">Create Account</a>
        </h4>
      </div>
      <div id="create-account-component" class="panel-collapse collapse">
          {{ include('components/create-account.twig.html') }}
      </div>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#create-room-component">Create Room</a>
        </h4>
      </div>
      <div id="create-room-component" class="panel-collapse collapse">
          {{ include('components/create-room.twig.html') }}
      </div>
    </div>
  </div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#create-location-component">Create Location</a>
        </h4>
      </div>
      <div id="create-location-component" class="panel-collapse collapse">
          {{ include('components/create-location.twig.html') }}
      </div>
    </div>
  </div>
{% endblock %}