{% extends "layout/base.twig.html" %}

{% block title %}Upcoming Apes{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        {% include 'components/exam-search.twig.html' with {'states' : 'GET_EXAMS_UPCOMING', 'types' : 'GET_EXAMS_TYPE_REGULAR', 'tableID': 'upcoming-exams'} %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-info">Test</h3>
        </div>

        {% for resource in resources %}
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{resource.title}}</h3>
                </div>
                <div class="panel-body">
                    {{resource.content}}
                </div>
               {# <div class="panel-footer">
                    {{resource.download}}
                </div>
                #}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}