<script type="text/javascript">
  var save = function() {
    var id = getElementValue('accountID');
    var firstName = getElementValue('firstName');
    var lastName = getElementValue('lastName');
    var email = getElementValue('email');
    var selections = getSelectValues('accountTypeSelect');

    var type = 0;
    _.each(selections, function(selection) {
        type += parseInt(selection);
    });

    type = parseInt(type);

    createAccount(id, firstName, lastName, email, type);
    addRowToTable('accounts-table', [id, lastName, firstName, email, type]);
  };
  initializeSelectPicker();
</script>

<label for="accountID">ID: </label> <input type="text" class="form-control" id="accountID" name="accountID" />
<br />
<label for="firstName">First Name: </label> <input type="text" class="form-control" id="firstName" name="firstName" />
<br />
<label for="lastName">Last Name: </label> <input type="text" class="form-control" id="lastName" name="lastName" />
<br />
<label for="email">Email: </label> <input type="email" class="form-control" id="email" name="email" />
<br />
<label for="accountTypeSelect">Account Type: </label>
<br />
<select class="selectpicker" id="accountTypeSelect" name="accountTypeSelect" multiple title="Add Types..." data-selected-text-format="count">
  <option value="1">Temporary</option>
  <option value="2">Student</option>
  <option value="4">Grader</option>
  <option value="8">Teacher</option>
  <option value="16">Admin</option>
</select>