<script type="text/javascript">
  var makeRoom = function() {

    var name = getElementValue('roomName');
    var seats = getElementValue('roomSeats', 'integer');

    createRoom(name, seats);
  }
</script>

<label for="roomName">Name: </label> <input type="text" class="form-control" id="roomName" name="roomName" />
<br />
<label for="roomSeats">Seats: </label> <input type="number" class="form-control" id="roomSeats" name="roomSeats" />
<button class="btn btn-primary pull-right" style="margin:10px;" onclick="makeRoom()">Create Room</button>
<div class="clearfix"></div>