<script type="text/javascript">
    $(document).ready(function () {
      getRoom({{ roomId }}).then(function (response) {
        var roomName = response.data.room.name;
        var roomSeats = response.data.room.seats;
        setElementValueById('roomName', roomName);
        setElementValueById('roomSeats', roomSeats);
      });
    });
    var save = function() {

        var id = {{ roomId }};
        var name = getElementValue('roomName');
        var seats = getElementValue('roomSeats', 'integer');

        updateRoom(id, name, seats);
    };
</script>

<label for="roomName">Name: </label> <input type="text" class="form-control" id="roomName" name="roomName" />
<br />
<label for="roomSeats">Seats: </label> <input type="number" class="form-control" id="roomSeats" name="roomSeats" />