<script type="text/javascript">
  $(document).ready(function () {
    getLocations().then(function (response) {
      var promises = [];
      if(response) {
        _.each(response.data.locations, function (currentLocation, index) {
          promises.push(viewLocationDetails(parseInt(currentLocation.id)));
          if(index === response.data.locations.length - 1) {
            Promise.all(promises).then(function() {
              //only init the dataTable after all of the data is populated (need to wait for all promises)
              initializeDataTableById('location-table');
            });
          }
        });
      }
    });

    var viewLocationDetails = function(id) {
      return getLocation(id).then(function (response) {
        var rooms = '';
        _.each(response.data.location.rooms, function (currentRoom) {
          var html = '<span class="label label-primary">' +
            currentRoom.name + ' <span class="badge">' + currentRoom.seats +
            ' seats</span></span><br />';
          rooms += html;
        });

        var tdCollection = [
          response.data.location.id,
          response.data.location.name,
          rooms,
          response.data.location.limited_seats,
          response.data.location.reserved_seats
        ];
        addRowToTable('location-table', tdCollection);
        return true;
      });
    };
  });

  var addLocation = function() {
    loadModal('templates/modals/create-location-modal.twig.html', 'locationModal');
  };

  var editLocation = function() {
    loadModal('templates/modals/edit-location-modal.twig.html', 'locationModal');
  };

  var removeLocation = function() {
    var table = $('#location-table').DataTable();
    var id = parseInt(getSelectedRowByIndex(table, 0));
    deleteLocation(id);
    removeRowFromTable('location-table', 'row-' + id);
  };

  setConfirmationModal('action-delete', removeLocation);
</script>

<table id="location-table" class="data-table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Building</th>
    <th>Rooms</th>
    <th>Total Seats</th>
    <th>Reserved Seats</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="locationModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

    </div>
  </div>
</div>