<script type="text/javascript">
  getLocations().then(function (response) {
    if(response) {
      var options = [];

      _.each(response.data.locations, function (currentLocation) {
        viewLocationDetails(parseInt(currentLocation.id));
      });

      addOptionToSelect('locations', options);
    }
  });

var viewLocationDetails = function(id) {
    getLocation(id).then(function (response) {
      var rooms = '';
      _.each(response.data.location.rooms, function (currentRoom) {
        var html = '<span class="label label-primary">' +
          currentRoom.name + ' <span class="badge">' + currentRoom.seats +
          ' seats</span></span><br />';
        rooms += html;
      })

        var locationID = parseInt(id);
        console.log(locationID);

        var htmlButton_edit ='<button class="btn btn-primary">Edit</button>';
        var htmlButton_delete ='<button class="btn btn-danger" onclick="removeLocation(' + locationID + ')">Delete</button>';

        var tdCollection = [
            response.data.location.id,
            response.data.location.name,
            rooms,
            response.data.location.limited_seats,
            response.data.location.reserved_seats,
            htmlButton_edit,
            htmlButton_delete
        ];
      addRowToTable('location-table', tdCollection);
    })
}

var removeLocation = function(id) {
    deleteLocation(id);
    removeRowFromTable('location-table', 'row-' + id);
}
</script>

<div class="table-responsive">
  <table id="location-table" class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Building</th>
      <th>Rooms</th>
      <th>Total Seats</th>
      <th>Reserved Seats</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
