<script type="text/javascript">
    var account, exam;

    document.addEventListener("DOMContentLoaded",
        function () {
            hidePage();

            account = '{{accountID}}';
            exam = parseInt('{{examID}}');

            if (!isValidIntID(exam)) {
                setError('Invalid exam ID');
                return;
            }

            refreshPage();
        }
    );

    function hidePage() {
        document.getElementById('registerStudentsError').style.visibility = 'hidden';
        document.getElementById('registerStudentsSection').style.visibility = 'hidden';
    }

    function refreshPage() {
        hidePage();

        document.getElementById('labelExamID').textContent = 'Exam #' + exam;

        document.getElementById('registerStudentsSection').style.visibility = 'visible';
    }

    function setError(msg) {
        errorLineNotification(msg);
        document.getElementById('labelRegisterStudentsError').textContent = msg;
        document.getElementById('registerStudentsError').style.visibility = 'visible';
    }

</script>

<div class='row' id='registerStudentsError'>
    <span class='label label-danger'>Error</span>
    <label id='labelRegisterStudentsError'></label>
</div>

<div class='row' id='registerStudentsSection'>
    <button class='btn btn-primary' onclick="location.href='examDetails?exam={{examID}}'" >Exam Details</button>
    <br>
    <span class='label label-info' id='labelExamID'>Exam #ID</span>
    <br>
    <span class='label label-info'>Account Search component</span>
    <br>
    <div id='search-students-component'>
        {% include 'components/account-search.twig.html' with {'prefix': 'students', 'types': [ 'ACCOUNT_TYPE_STUDENT', 'ACCOUNT_TYPE_GRADER' ]} %}
    </div>
</div>