<script type="text/javascript">
    $(document).ready(function () {
      getUpcomingExams().then(function (response) {
        _.each(response.data.exams, function(exam, index) {
          var id = exam.examID;
          var locationName = exam.locationName;
          var start = new Date(exam.start.date).toLocaleString();
          var cutoff = new Date(exam.cutoff.date).toLocaleString();
          var examLength = exam['length'];
          var totalSeats = exam.totalSeats === -1 ? 'N/A' : exam.totalSeats;
          var takenSeats = exam.takenSeats === -1 ? 'N/A' : exam.takenSeats;
          var teacherId = exam.teacherID === null ? 'N/A' : exam.teacherID;
          var regular = exam.isRegular === 1;
          var state = exam.stateStr.toUpperCase();

          var tdCollection = [id, locationName, start, cutoff, examLength, totalSeats, takenSeats, teacherId, regular, state];
          addRowToTable('upcoming-exams-table', tdCollection);

          if(index === response.data.exams.length - 1) {
              initializeDataTableById('upcoming-exams-table');
          }
        });
      })
    });

    var viewDetails = function() {
      var table = $('#upcoming-exams-table').DataTable();
      var examId = getSelectedRowByIndex(table, 0);
      notification('Redirecting to view the exam details...', 'info');
      window.location.href = 'examDetails?exam=' + examId;
    };

    var editExam = function() {
        var table = $('#upcoming-exams-table').DataTable();
        var examId = getSelectedRowByIndex(table, 0);
        notification('Redirecting to edit the exam...', 'info');
        window.location.href = 'editExam?exam=' + examId;
    };
</script>

<table id="upcoming-exams-table" class="data-table">
  <thead>
  <tr>
    <th>Exam ID</th>
    <th>Location</th>
    <th>Start</th>
    <th>Cutoff</th>
    <th>Length (Min)</th>
    <th>Total Seats</th>
    <th>Taken Seats</th>
    <th>Teacher ID</th>
    <th>Regular Exam</th>
    <th>State</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>