<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {#<title>Home</title>#}

    <!-- accountID : {{ params.id }} -->

    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/jquery-datetimepicker/build/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/datatables/datatables.min.css"/>

    <link rel="stylesheet/less" type="text/css" href="sources/styles/general.less" />
    <link rel="stylesheet" type="text/css" href="sources/styles/animate.css" />


    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="vendor/bootstrap-confirm-delete/bootstrap-confirm-delete.js"></script>
    <script src="vendor/datatables/datatables.min.js"></script>
    <script src="vendor/less/dist/less.min.js"></script>
    <script src="vendor/lodash/dist/lodash.js"></script>
    <script src="vendor/jquery-datetimepicker/build/jquery.datetimepicker.full.min.js"></script>
    <script src="vendor/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="vendor/jszip/dist/jszip.min.js"></script>
    <script src="vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="vendor/pdfmake/build/vfs_fonts.js"></script>

    <script src="scripts/ape-lib.js"></script>

    <script>
      $(document).ready(function () {
          /*Manipulate the DOM to choose the active link*/
          //activeLink();
          /*setDateTimePicker('datetimepicker');*/
      });
    </script>
</head>
<body>
<div class="col-xs-1 sidebar">
    {{ include('layout/left-nav.twig.html') }}
</div>
    <div class="col-xs-11 col-xs-offset-1">
        <div class="row">
            {{ include('layout/top-nav.twig.html') }}
        </div>
        <div class="row">
            {% if actions is defined %}
                <div class="col-xs-1">
                    <div class="btn-group-vertical action-bar" role="group" aria-label="...">
                        {% for action in actions %}
                            {% if action.type == constant('ACTION_CREATE') %}
                                <button class="{{ action.type }}" id="action-create" onclick="{{ action.funcSignature}}">{{ action.text | raw}}</button>
                            {% elseif action.type == constant('ACTION_UPDATE') %}
                                <button class="{{ action.type }} action-select disabled" disabled id="action-update" onclick="{{action.funcSignature}}">{{ action.text | raw}}</button>
                            {% elseif action.type == constant('ACTION_DELETE') %}
                                <button class="{{ action.type }} action-select disabled" disabled id="action-delete" onclick="{{action.funcSignature}}">{{ action.text | raw}}</button>
                            {% elseif action.type == constant('ACTION_ARCHIVE') %}
                                <button class="{{ action.type }} action-select disabled" disabled id="action-archive" onclick="{{action.funcSignature}}">{{ action.text | raw}}</button>
                            {% else %}
                                <button class="{{ action.type }} action-select" id="action-generic" onclick="{{action.funcSignature}}">{{ action.text | raw}}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="col-xs-10 main">
{#                <input id="datetimepicker" type="text" >
                <a onclick="getExamInformation(10)">Get Exam Information</a>
                <a onclick="getMyExams()">Get My Exams</a>
                <a onclick="getGraderExamDetails(1)">Get Exam Details</a>
                <a onclick="createAccount('00599461', 'John', 'Doe', 'johndoe@eagles.ewu.edu', 2)">Create Account</a>
                <a onclick="createAccounts()">Create Accounts</a>
                <a onclick="getLocations()">Get Locations</a><br />
                <a onclick="getLocation(1)">Get Location</a><br />
                <a onclick="createLocation('My Location', 66, 66)">Create Location</a><br />
                <a onclick="deleteLocation(14)">Delete Location</a><br />
                <a onclick="updateLocationName(1, 'CEB 288')">Update Location Name</a><br />
                <a onclick="updateLocationRooms(1, 23, 23)">Update Location Rooms</a><br />
                <a onclick="getRooms()">Get Rooms</a><br />
                <a onclick="getRoom(1)">Get Room</a><br />
                <a onclick="createRoom('My Room', 50)">Create Room</a><br />
                <a onclick="deleteRoom(10)">Delete Room</a><br />
                <a onclick="updateRoom(1, '212C', 12)">Update Room</a><br />
                <a onclick="getCategories()">Get Categories</a><br />
                <a onclick="getDefaultCategories()">Get Default Categories</a><br />
                <a onclick="getCategory(1)">Get Category(1)</a><br />
                <a onclick="createCategory('My Category', 500)">Create Category</a><br />
                <a onclick="deleteCategory(9)">Delete Category</a><br />
                <a onclick="updateCategory(1, 'Recursion2', 40)">Update Category</a><br />
                <a onclick="updateDefaultCategories([1,2,3])">Update Default Categories</a><br />
                <a onclick="getReportTypes()">Get Report Types</a>
                <a onclick="getReports()">Get Reports</a>
                <a onclick="generateReport(7, [1,2,3,4])">Generate Report</a>
                <a onclick="createReport('Mass Report', [1,2,3,4])">Create Report</a>
                <a onclick="updateReport(8, 'Massive Report', [1,2,3,4,5,6,7])">Update Report</a>
                <a onclick="registerForExam(7)">Register for Exam</a>#}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>