<ul class="nav nav-sidebar">
    <li>
        <a class="homeLogo" href="home"><img src="sources/images/ewu_logo.png"></a>
    </li>
    {% if params.availableNavLinks|length > 1 %}
        {% for key,linkSet in params.availableNavLinks %}
            <li>
                <a data-toggle="collapse" href="#{{key}}-tree">{{ key }}</a>
            </li>
            <li>
                <div id="{{key}}-tree" class="panel-collapse collapse">
                    <ul class="nav nav-sidebar nav-child">
                        {% for link in linkSet %}
                            <li>
                                <a href="{{ link.link }}" title="{{ link.title }}">{{ link.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    {% else %}
        {% for link in params.availableNavLinks %}
            <li>
                <a href="{{ link.url }}" title="{{ link.title }}">{{ link.text }}</a>
            </li>
        {% endfor %}
    {% endif %}
</ul>