<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="sources/documents/ape_info.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Ape Info</a></li>
          <li><a href="http://penguin.ewu.edu/cscd210/" target="_blank"><i class="fa fa-globe"></i> CSCD210</a></li>
          <li><a href="http://penguin.ewu.edu/cscd211/" target="_blank"><i class="fa fa-globe"></i> CSCD211</a></li>
          <li><a href="http://penguin.ewu.edu/cscd300/" target="_blank"><i class="fa fa-globe"></i> CSCD300</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-left">
      <p class="navbar-text">Welcome, {{ params.firstName }} </p>
    </ul>
  </div>
</nav>